In [2]:
age_2 = "32"
age_2 = int(age_2)
year = 2024 - age_2
print(year)

1992

In [3]:
int("2e")

ValueError: invalid literal for int() with base 10: '2e'

In [5]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [6]:
x = (2 ** 3) * (5 * 2 + (2 * 6 / 3))
print(x)

112.0

In [7]:
r = 7
pi = 3.14
A = pi * r ** 2
print(A)

153.86

In [10]:
r = 9
pi = 3.14
A = pi * r ** 2
print("Yarıçapı", r, "olan dairenin alanı:", int(A))

Yarıçapı 9 olan dairenin alanı: 254

In [ ]:
a = 5
b = 12

In [11]:
a = 5
b = 12
c= (a ** 2 + b ** 2) ** (1 / 2)
print(c)

13.0